body{
  font-family: 'Rubik', sans-serif;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#aboutInfo{
  padding: 30px;
}

form{
  margin-bottom: 50px;
  margin-top: 20px;
}

#content{
  margin: 10px;
}
